<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learning jQuery</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-2.1.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
</head>
<body>
  <section id="movies">
    <h2>List of Movies</h2>
    <!-- Append Movies Here -->
    
  </section>

  <script>
    var Movies = {
  
      init: function() {
        this.setUpTemplate();
        this.getData();
        // this.appendMoviesToPage();
        this.bindUIActions();
      },
      
      setUpTemplate: function() {
        Movies.compiled = _.template(
          "<div class='module module-movie' style='background-image: url(<%= movieImage %>)'>" +
            "<div class='movie-info'>" +
              "<h3 class='movie-title'>" +
                "<%= movieTitle %>" + 
              "</h3>" +
              "<p class='movie-director'>" + 
                "<%= movieDirector %>" +
              "</p>" +
            "</div>" +
          "</div>"
        );
      },
      
      getData: function() {
        $.getJSON("http://codepen.io/RandyDavis/pen/Kwmwqp.js", function(data) {
          Movies.appendMoviesToPage(data);
        });
      },
      
      appendMoviesToPage: function(data) {
        var i, html = "";
        for (i = 0; i < data.movies.length; i++) {
          html += Movies.compiled(data.movies[i]); 
          console.log(html);
        }
        $("#movies").append(html);
      },
      
      bindUIActions: function() {
        // Event Handling
        $(document).on("click", ".module-movie", function() {
          alert("movie added to list");
        });
      }
      
    }

    Movies.init();
  </script>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>